a{
  text-decoration: none;
  color:black;
}
li a{
  display: block;
  color: white;
}
li:hover{
  background-color: #64B6AC;
  color: #5D737E;
}
ul{
  padding: 0;
  margin: 0;
  background-color: #5D737E;
  overflow: hidden;
}
li{
  display: inline;
  text-align: center;
  list-style: none;
  width: auto;
  float: left;
  padding: 14px 16px;
}
#Apropos{
  float: right;
}
