*{
  font-family: "Open Sans";
  margin: 0;
}
a{
  text-decoration: none;
  color:black;
}
li a{
  display: block;
  color: white;
}
li:hover{
  background-color: #43535b;
  color: #5D737E;
}
ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: #5D737E;
}
li{
  display: inline;
  text-align: center;
  list-style: none;
  width: auto;
  float: left;
  padding: 14px 16px;
  background-color: #5D737E;

}
header h1{
  text-align: center;
  padding: 20px 20px;
  font-weight: normal;
}
header{
  background-color: #64B6AC;
  color: white;
}
.active{
  background-color: #64B6AC;
}
.active:hover{
  background-color: #64B6AC;
}
